html {
  font-size: clamp(10px, 1vw, 20px);
}

@font-face {
  font-family: 'UndevelopedBook';
  src: url('./assets/fonts/UndevelopedBook.ttf') format('truetype');
}


@font-face {
  font-family: 'Mucha';
  src: url('./assets/fonts/AlphonseMucha.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel-Black.otf') format('opentype');
  font-weight: 900;
}


@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
  font-weight: 900;
}


